/* p{
color: darkolivegreen;
font-style: normal;
font-size: 40px;
text-decoration: double;
letter-spacing: 10px;
word-spacing: 20px;

}
h2{
    color:cadetblue;
    font-size: 30px;
    font-style: initial;
    text-decoration: dotted;
    letter-spacing: 10px;
    word-spacing: 20px;
} */
/* .para1
{
 color: darkslategray;
 font-size: 40px;
 font-style: oblique;
 text-decoration: line-through;
}
#para3
{
    color: crimson;
      font-style: normal;
      font-size: 30px;
      text-decoration: wavy;
      border-width: 5px; 
      border-color: rosybrow;
      border-style: double;
      border: 7px double gray;
      padding: 10px;
      margin: 20px;
} */
 *{
margin: 0px;
padding: 0px;
box-sizing: border-box;



 }
 #container{

    display: flex;
    /* changes box into vertically */
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
    align-items: center;
    gap: 10px;
    
 }

#container div {


   height: 300px;
   width: 300px;
   border: 1px solid black;
}